<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648836412000-iustsqi2f7i95liauoe6dbaqrj4kc0pg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648836412000-iustsqi2f7i95liauoe6dbaqrj4kc0pg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>648836412000-vgl0o8at7nr22ttnfdrkmslfkreglsu1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAS2gckrxFr1bkoXQnf4gaaW-FE2HvDbwo</string>
	<key>GCM_SENDER_ID</key>
	<string>648836412000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.majurun.app</string>
	<key>PROJECT_ID</key>
	<string>majurun-8d8b5</string>
	<key>STORAGE_BUCKET</key>
	<string>majurun-8d8b5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648836412000:ios:29f733f7a3e51021ac8905</string>
</dict>
</plist>